.small-x {
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  padding-top: 1px;
  position: relative;
  text-align: center;
  width: 24px;
}

.the-x {
  font-weight: bold;
  left: 8px;
  position: absolute;
  top: 1px;
}
